<h3>Rooms</h3>
<ul>
    {% for room in rooms %}

    <a href="{% url 'room' room.id %}">
        <li>{{ room }} - {{ room.topic }} - {{ room.host }}</li>
    </a>
    {% if request.user == room.host %}
    <div>
        <h3>
            <a href="{% url 'update-room' room.id %}">update</a>
            <a href="{% url 'delete-room' room.id %}">delete</a>
        </h3>
    </div>
    {% endif %}

    <br>

    {% endfor %}
</ul>














<!-- <div class="form__group form__group">
      <label for="fullname">Full Name</label>
      <input id="fullname" name="fullname" type="text" placeholder="e.g. Dennis Ivy" />
    </div> -->

      <!-- <label for="room_name">Username</label> -->
      <!-- <input id="username" name="username" type="text" placeholder="e.g. dennis_ivy" /> -->


 <!-- <div class="form__group"> -->
                <!-- <label for="password">Password</label> -->
                <!-- <input
                  id="password"
                  name="password"
                  type="password"
                  placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                  /> -->
                <!-- {{ form.password1 }} -->
                <!-- </div> -->

                <!-- <div class="form__group"> -->
                  <!-- <label for="confirm_password">Confirm Password</label> -->
                <!-- <input
                  id="confirm_password"
                  name="confirm_password"
                  type="password"
                  placeholder="&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"
                  /> -->
                  <!-- {{ form.password2 }} -->
                  <!-- </div> -->



