{% extends 'base.html' %}



{% block content %}

<h1>{{room.title}}</h1>
<h3>Description: 
    {% if room.description %}
        {{ room.description }}
    {% else %}
        no description yet...
    {% endif %}

</h3>

<br>

<h3>Participants: </h3>
<ul>
    <li>Host: {{ room.host }}</li>
    {% for user in participants %}
    <li>{{ user }}</li>
    {% endfor %}
</ul>

<br>

<h3>Messages: </h3>
<ul>
    {% if msgs %}

    {% for msg in msgs %}

    <li>
        <p>{{ msg.user }} - {{ msg.content }} - {{ msg.created|timesince }}</p>
    </li>

    {% endfor %}

    {% else %}

    <li><h3>No Messages yet...</h3></li>

    {% endif %}
</ul>

<br>

<form action="" method="POST">
    {% csrf_token %}
    <h3>Add Message: </h3><input type="text" name="msg" placeholder="Add Message..." required>
</form>
{% endblock %}